.green-text{
    color: $--primary-color;
    margin: 0 4px;
    font-weight: 800;
    font-style: italic;
}

.white-text{
    color: $--title-color;
    font-weight: 700;
    margin: 0 4px;
}

.op-text{
    color: #99a4b0;;
}

.mb-40{
    margin-bottom: 40px;
}

.mt-40{
    margin-top: 40px;
}

.sub-title{
    color: #fff;
    margin-bottom: 0.6875rem;
    font-weight: 800;
    font-style: italic;
    text-align: left;
    margin-bottom: 11px;
}

