$--v7xmke: #1c1e22;
$--g52yms: #fff;
$--1420yz0: #41454e;
$--tq8d8c: #1c1e22;
$--6ez62x: #1c1e22;
$--1abnjtw: #1e2024;
$--whdmoy: #f5f6f7;
$--rssf2i: rgba(0,0,0,.3);
$--1omey7: #43b309;
$--1k9tf55: rgba(152,167,181,.7);
$--1hr07om: rgba(153,164,176,.6);
$--text-color: rgba(153,164,176,.8);
$--title-color: #dfe3e6;
$--primary-color: #43b309;
$--background-color: #24262b;
$--placeholder-color: #75808c;
$--autofill-color: #f5f6f7;
$--scroll-color: #24262B;
$--1gzcp3e: rgba(152,167,181,.7);
$--ff5frq: linear-gradient(146deg,#931792 -80%,#18191c 30%);
$--1365ihg: linear-gradient(146deg,#0ae438 -80%,#18191c 30%);
$--1vtva5l: linear-gradient(146deg,#ff6060 -80%,#18191c 30%);