.title{
    font-size: 1.25rem;
    line-height: 2.25rem;
    margin: 0 0 0.625rem 1.125rem;
    color: #fff;
    font-family: unset;
    font-weight: 800;
    text-align: left;
    font-style: italic;
}