@import "../../../public/scss/_variable.scss";
@import "../../../public/scss/_utils.scss";

.cart{
    border-radius: 1.25rem;
    text-align: center;
    padding: 0.9375rem 1.875rem;
    height: 16.125rem;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

    &-img{
        height: 50%;

        img{
            height: 100%;
        }
    }

    &-tit{
        font-size: 1.125rem;
        height: 2.25rem;
        line-height: 2.25rem;
        color: $--g52yms;
        font-weight: 800;
        white-space: nowrap;
    }

    &-sub{
        color: $--1gzcp3e;
        line-height: 1.25rem;
        margin: 0.4375rem auto;
        max-width: 16.9375rem;
        width: auto;
        font-size: .875rem;
        font-weight: 500;
    }
}