html{
  font-size: 100%;
  background-color: #24262B;
  box-sizing: border-box;
}

body{
  color: #dfe3e6;
}

.App {
  background-color: #24262B;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img{
  height: 100%;
  width: auto;
  /* z-index: 2; */
}

button {
  border: none;
  padding: 0;
  user-select: none;
  cursor: pointer;
  font-size: .875rem;
  background-color: transparent;
  appearance: auto;
}

button:focus {
    outline: none;
}

.ui-button {
    width: 8.9375rem;
    --3xr1hu: rgba(107,113,128,.8);
    display: block;
    border-radius: 6.25rem;
    height: 3rem;
    font-weight: 700;
    cursor: pointer;
    -webkit-transition: -webkit-transform .2s cubic-bezier(.36,.66,.04,1);
    -webkit-transition: transform .2s cubic-bezier(.36,.66,.04,1);
    transition: transform .2s cubic-bezier(.36,.66,.04,1);
}

.ui-button.s-conic4 {
    color: #f5f6f7;
    box-shadow: 0 4px 8px rgb(29 34 37 / 10%);
    background-color: #f19511;
    background-image: conic-gradient(from 1turn,#f19511,#f6c722);
}

a{
  color: unset;
  transition: all 0.2 ease-in-out;
}

a:hover{
  text-decoration: none;
  color: #43b309;
  font-weight: 700;
}

